@font-face {
  font-family: Ubuntu;
  src: url(ubuntu.ttf);
}

body {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

.appContent {
  margin-top: 10px;
  background-color: green;
  border: 10px solid yellow;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: auto;
}

.appFooter {
  bottom: 0;
  position: fixed;
}
