@font-face {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  src: local("Ubuntu"), url("../../fonts/mosk_bold_700.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Mosk";
  font-style: normal;
  src: local("Mosk"), url("../../fonts/mosk_bold_700.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Think Music";
  font-style: normal;
  src: local("Think Music"),
    url("../../fonts/think_music.ttf") format("truetype"); /* Safari, Android, iOS */
}

.hello {
  text-align: left;
  font-family: "Mosk";
  color: #fff;
  font-size: 7rem;
  font-weight: bold;
  margin-left: 2em;
}

.name {
  margin-left: 2em;
  font-family: "Mosk";
  color: #fff;
  font-size: 7rem;
}

.blue {
  font-family: "Think Music";
  color: #1c8bc5;
}

.header {
  margin-top: 3em;
  text-align: center;
  font-family: "Mosk";
  color: #fff;
  font-size: 4rem;
}

.projects {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
