$green-color: #008000;

.header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .nav-items {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0px;
    font-size: 1.5em;
    .nav-item {
      padding: 10px 15px;
      cursor: pointer;
    }

    .nav-item-right {
      left: 0 auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* Top Navigation*/
  .header {
    background-color: orange;
    font-size: 0.4em;
    margin: 0;
    height: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Top Navigation*/
  .header {
    background-color: blue;
    font-size: 1em;
    margin: 0;
    height: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Top Navigation*/
  .header {
    background-color: red;
    font-size: 1.5em;
    margin: 0;
    height: 70px;
  }
}
