@font-face {
  font-family: Roboto;
  src: url(../src/fonts/roboto.ttf);
}

@font-face {
  font-family: "Segoe UI", sans-serif;
  src: url(../src/fonts/segoeui.ttf);
}

@font-face {
  font-family: "Mosk", sans-serif;
  src: url(../src/fonts/mosk_bold_700.ttf);
}

*,
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
