@font-face {
  font-family: Roboto;
  src: url(./fonts/roboto.ttf);
}

@font-face {
  font-family: "Segoe UI", sans-serif;
  src: url(./fonts/segoeui.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kurale&family=Lobster&display=swap");
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
